<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <!-- Modifique o valor do AttachDbFileName para refletir com o endereço aonde você criou o banco de dados -->
        <add name="SYS_SHOP_DB"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\Thomaz\GIT\Projetos\SysShop\SysShopDB.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>